html {
    width: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 70%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    padding: 40px;
    padding-top: 350px;
    padding-bottom: 350px;
}

.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 30px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -35px;
    left: 0;
    color: #03e9f4;
    font-size: 26px;
}

.login-box form button {
    background-color: rgba(0,0,0,.5);
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    align-items: center;
    width: 300px;
    height: 100px;
}

.login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
    cursor: pointer;

}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

/*-------------*/

:root {
    --color-backgrond: #263238;
    --color-text: #FAFAFA;
    --color-focus: rgba(132,250,176,1);
    --color-invalid: #F4511E;
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-text);
    position: relative;
    background: transparent;
    padding-bottom: 5px;
    caret-color: var(--color-text);
    color: var(--color-text);
}
input:focus {
    animation: stretch .5s;
    transform-origin: left;
    background: linear-gradient(to top, var(--color-focus) 0%, var(--color-focus) 10%, transparent 11%);
    border-bottom: 2px solid var(--color-focus);
}
input:valid {
    border-bottom: 2px solid var(--color-focus);
}

label {
    display: inline-block;
    transform-origin: left;
    transition: all .4s ease;
}

@keyframes stretch {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}



/*------------*/

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

#button {
    width: 350px;
    height: 175px;
    background-color: #000;
    border-radius: 175px;
    cursor: pointer;
    transform: scale(0.4);
    position: relative;
    top: -35px;
    left: -15px;
}

#knob {
    width: 145px;
    height: 145px;
    background-image: url("../img/toggle.png");
    background-size: 350px;
    position: relative;
    top: 15px;
    left: 15px;
    border-radius: 145px;
    transition: 0.6s ease left, 0.6s ease background-position;
    z-index: 2;
}

#subscribe,
#alright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 210px;
    z-index: 1;
}

#alright {
    margin-left: 55px;
}

#lol-checkbox:checked + #button #knob {
    left: 190px;
    background-position: -175px 0;
    transition: 0.6s;

}

